# Testing tools
pytest>=7.0.0,<9.0.0
pytest-homeassistant-custom-component>=0.13.7
aresponses>=2.1.4 # for async HTTP mocking in tests
syrupy>=4.0.0 # for snapshot testing
freezegun>=1.5.1

# Code quality
flake8>=5.0.4

# Security-pinned dependencies
cryptography>=44.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.6 # not directly required, pinned by Snyk to avoid a vulnerability
